/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;

}

body {
	background-color: #FFF;
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
}

h2,
legend {
	color: #2d3945;
	font-weight: 700;
}

p {
	color: #A9A9A9;
	font-weight: 400;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.banner,
.header,
.footer {
	text-align: center;
}

.banner {
	background-color: #2d3945;
	color: #FFF;
	padding: 15px 0;
}

.banner h1,
.header h2 {
	padding: 0 20px;
}

.header p {
	padding: 0 40px 20px 40px;
}

.border-container {
	margin: 0 20px;
}

.form-container {
	margin: 0 13px;
}

.one {
	border: 3px solid #2d3945;
}

.two {
	border: 1px solid #2d3945;
}

.footer {
	margin: 30px 0 50px 0;
}

/* ---- Form ---- */

form {
	background-color: #FAFAFA;
	border-radius: 20px;
	margin: 30px auto;
	max-width: 350px;
	padding: 30px 0;
}

fieldset {
	border: none;
	margin: auto;
}

legend {
	font-size: 1.5em;
	padding-top: 20px;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
	background-color: #eff0f1;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	width: 100%;
}

label[for="name"],
label[for="email"],
label[for="telephone"],
label[for="address"],
label[for="city"],
label[for="state"],
label[for="zipcode"],
label[for="other"] {
	display: block;
}

label[for="other"] {
	margin-top: 20px;
}

input,
select {
	margin-bottom: 17px;
}

input:focus {
 border: 2px solid #2d3945;
 outline: none !important;
}

input:focus:hover {
	transform: scale(1.1);
	transition: 0.6s;
	box-shadow: inset 0 0 0 30px #DBEEF2;
}

label,
.newsletter-para {
	color: #55687a;
	font-weight: 300;
  margin-bottom: 8px;
}

.newsletter-para {
	margin-bottom: 20px;
}

::placeholder {
	color: #c3c6c9;
	font-style: italic;
	text-align: right;
}

select {
	color: #A9A9A9;
}

textarea {
	height: 100px;
}

button {
	background-color: #4ebbb5;
	border: none;
	border-radius: 5px;
	color: #FFF;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 18px;
	padding: 20px 25px;
	width: 100%;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

	.border-container {
		margin: 0 auto;
	}

	.border-container,
	form {
		max-width: 650px;
	}

	.form-group {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	.form-group label {
		font-size: .8em;
		width: 30%;
		margin: 0;
	}

	.form-group label[for="zipcode"] {
		width: 23%;
	}

	.form-group input {
		height: 100%;
		margin: 0;
	}

}
